/* Navbar.css */

/* Basic styles for the navbar */
.navbar {
  font-family: "Trebuchet MS";
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #421a67;
  color: #fff;
  padding: 1rem;
}

/* Styles for the brand/logo */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Styles for the navigation links */
.navbar-links {
  display: flex;
  font-family: "Trebuchet MS", sans-serif;

  gap: 1rem;
}

.navbar-links a {
  color: #fff;
  font-family: "Trebuchet MS", sans-serif;

  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

/* Styles for the active mobile menu */
.navbar-links.active {
  display: flex;
  font-family: "Trebuchet MS", sans-serif;

  flex-direction: column;
  position: absolute;
  top: 64px; /* Adjust this value based on your layout */
  right: 1rem;
  background-color: #333;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Styles for the mobile toggle button */
.navbar-mobile-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  cursor: pointer;
}

.bar {
  width: 24px;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}

/* Media query to display the mobile toggle button and hide the links on smaller screens */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-mobile-toggle {
    display: flex;
  }
}
